.divider {
    border-radius: var(--radius);
    padding: var(--padding-xs);
    margin: var(--padding-xs) var(--clear);
    @extend %flex;
    height: 40px;
    div {
        padding: var(--padding-xs);
        align-self: center;
    }
}

.field {
    padding: var(--padding-m) var(--clear);
}

input {
    display: none;
}