html {
    body {
        font-family: var(--font-family);
        font-weight: var(--weight-light);
        margin: var(--clear);
        $color: $bg-color01; // background color
        @include font-color($color);
        @include header() {}
        font-size: var(--base-size);
        @media (max-width: 1200px) {
            font-size: var(--font-xs);
        }
        @media (max-width: 768px) {
            font-size: var(--font-xxs);
        }
        h1 {
            padding: var(--padding-m) var(--clear);
            font-size: var(--font-xl);
            @media (max-width: 1200px) {
                font-size: var(--font-lg);
            }
            @media (max-width: 768px) {
                font-size: var(--font-m);
            }
        }
        h1,
        h3 {
            color: $color03;
        }
        h2 {
            font-size: var(--font-m);
            color: $accent;
            padding: var(--clear);
            @media (max-width: 1200px) {
                font-size: var(--font-sm);
            }
            @media (max-width: 768px) {
                font-size: var(--font-xs);
            }
        }
        p {
            margin: var(--clear);
        }
        label {
            color: $accent-alt-01;
            display: block;
        }
        .col-6-layout {
            header {
                color: $accent;
                font-weight: var(--weight-bold);
                font-family: var(--font-family-02);
            }
        }
    }
    .divider {
        font-weight: var(--weight-regular);
        $color: $accent-alt-05; // background color
        @include font-color($color);
        font-family: var(--font-family-02);
        text-transform: var(--caps);
        font-size: var(--font-m);
        @media (max-width: 1200px) {
            font-size: var(--font-sm);
        }
        @media (max-width: 768px) {
            font-size: var(--font-xs);
        }
    }
}