@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900");
.divider, nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-size: 14px;
}

html body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0;
  background-color: #041f1f;
  color: #fff;
}

html body h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h4 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h5 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h1 {
  padding: 1.2rem 0;
  font-size: 2rem;
}

html body h1,
html body h3 {
  color: #1dd3cd;
}

html body h2 {
  font-size: 1.25rem;
  color: #a117a6;
  padding: 0;
}

html body p {
  margin: 0;
}

html body label {
  color: #f7f5c5;
  display: block;
}

html body .col-6-layout header {
  color: #a117a6;
  font-weight: 600;
  font-family: "Roboto Slab", sans-serif;
}

.divider {
  border-radius: 2px;
  padding: 0.4rem;
  margin: 0.4rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #e5df3e;
  color: #041f1f;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  height: 40px;
}

.divider div {
  padding: 0.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.field {
  padding: 1.2rem 0;
}

input {
  display: none;
}

nav {
  background: #117976;
  padding: 0.4rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul h2 {
  color: #fff !important;
}

nav ul li {
  margin: 0.4rem;
  padding: 1.2rem 1.6rem;
  border-radius: 2px;
}

nav ul li:hover {
  background: #14908b !important;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li.selected {
  background: #17a6a1;
  -webkit-box-shadow: 1px 1px 2px #117976;
          box-shadow: 1px 1px 2px #117976;
}

nav ul li.selected:hover {
  background: #17a6a1 !important;
}

.content {
  padding: 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  --columns: 12;
  --width-default: 0;
  --width: var(--width-mobile, var(--width-default));
  -ms-flex-preferred-size: calc(var(--width) / var(--columns) * 100%);
      flex-basis: calc(var(--width) / var(--columns) * 100%);
}

/* sections */
header {
  --width-mobile: 12;
  padding-bottom: 20px;
}

h2 {
  --width-mobile: 8;
}

.date {
  --width-mobile: 12;
  --width-desktop: calc(var(--columns) / 7);
  --width: calc(var(--columns) / 7);
}

.divider,
h1,
.col-12-layout {
  --width-mobile: 12;
}

.col-6-layout {
  --width-mobile: 12;
  --width-desktop: 6;
}

.header {
  --width-mobile: 12;
}

.field {
  --width-mobile: 6;
  --width-tablet: 4;
  --width-desktop: 3;
}

.small .column {
  --columns: 6;
  --width-default: 0;
  --width: var(--width-mobile, var(--width-default));
  -ms-flex-preferred-size: calc(var(--width) / var(--columns) * 100%);
      flex-basis: calc(var(--width) / var(--columns) * 100%);
}

.small .header,
.small img {
  --width-mobile: 6;
}

.small .field {
  --width-mobile: 2;
}

.column.container.small {
  --width-mobile: 6;
  --width-tablet: 3;
  --width-desktop: 3;
}

@media (min-width: 0px) and (max-width: 650px) {
  .column,
  .date {
    --width: var(--width-mobile, var(--width-default));
  }
  .column .list,
  .date .list {
    margin: 1.2rem;
  }
  header {
    padding: 1.2rem;
  }
  .column.container.small {
    --width: var(--width-mobile, var(--width-default));
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .column,
  .date {
    --width: var(--width-tablet, var(--width-mobile, var(--width-default)));
  }
  .column .list,
  .date .list {
    margin: 0;
  }
  .column.container.small {
    --width: var(--width-tablet, var(--width-mobile, var(--width-default)));
  }
}

@media (min-width: 800px) {
  .column,
  .date {
    --width: var(--width-desktop, var(--width-tablet, var(--width-mobile, var(--width-default))));
  }
  .column .list,
  .date .list {
    margin: 0;
  }
  .column.container.small {
    --width: var(--width-desktop, var(--width-tablet, var(--width-mobile, var(--width-default))));
  }
}

.date .list {
  border: 1px dashed #117976;
  padding: 1rem;
  background: #041b1a;
  min-height: 200px;
}

@media only screen and (max-width: 768px) {
  .date .list {
    min-height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .date .list h3 {
    padding: 0.4rem 0 !important;
  }
}

.date .list hr {
  border: 0.5px solid #0a4c4a;
}

@media only screen and (max-width: 768px) {
  .date .list hr {
    display: none;
  }
}

.date .list .event {
  border-radius: 2px;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.fade {
  opacity: 0.25;
}
/*# sourceMappingURL=styles.css.map */