@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900");
.container img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-filter: saturate(3);
          filter: saturate(3);
  border-radius: 2px;
}

.divider, nav ul, .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-size: 12px;
}

html body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0;
  background-color: #041f1f;
  color: #fff;
}

html body h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h4 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h5 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0;
}

html body h1 {
  padding: 1.2rem 0;
  font-size: 2rem;
}

html body h1,
html body h3 {
  color: #1dd3cd;
}

html body h2 {
  font-size: 1.25rem;
  color: #a117a6;
  padding: 0;
}

html body p {
  margin: 0;
}

html body label {
  color: #f7f5c5;
  display: block;
}

html body .col-6-layout .header {
  color: #a117a6;
  font-weight: 600;
  font-family: "Roboto Slab", sans-serif;
}

#toggle-1 ~ #section-1 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-1 ~ .divider::after {
  content: "\f105";
}

#toggle-1:checked ~ #section-1 {
  display: -ms-grid;
  display: grid;
}

#toggle-1:checked ~ .divider::after {
  content: "\f106";
}

#toggle-2 ~ #section-2 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-2 ~ .divider::after {
  content: "\f105";
}

#toggle-2:checked ~ #section-2 {
  display: -ms-grid;
  display: grid;
}

#toggle-2:checked ~ .divider::after {
  content: "\f106";
}

#toggle-3 ~ #section-3 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-3 ~ .divider::after {
  content: "\f105";
}

#toggle-3:checked ~ #section-3 {
  display: -ms-grid;
  display: grid;
}

#toggle-3:checked ~ .divider::after {
  content: "\f106";
}

#toggle-4 ~ #section-4 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-4 ~ .divider::after {
  content: "\f105";
}

#toggle-4:checked ~ #section-4 {
  display: -ms-grid;
  display: grid;
}

#toggle-4:checked ~ .divider::after {
  content: "\f106";
}

#toggle-5 ~ #section-5 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-5 ~ .divider::after {
  content: "\f105";
}

#toggle-5:checked ~ #section-5 {
  display: -ms-grid;
  display: grid;
}

#toggle-5:checked ~ .divider::after {
  content: "\f106";
}

#toggle-6 ~ #section-6 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-6 ~ .divider::after {
  content: "\f105";
}

#toggle-6:checked ~ #section-6 {
  display: -ms-grid;
  display: grid;
}

#toggle-6:checked ~ .divider::after {
  content: "\f106";
}

#toggle-7 ~ #section-7 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-7 ~ .divider::after {
  content: "\f105";
}

#toggle-7:checked ~ #section-7 {
  display: -ms-grid;
  display: grid;
}

#toggle-7:checked ~ .divider::after {
  content: "\f106";
}

#toggle-8 ~ #section-8 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-8 ~ .divider::after {
  content: "\f105";
}

#toggle-8:checked ~ #section-8 {
  display: -ms-grid;
  display: grid;
}

#toggle-8:checked ~ .divider::after {
  content: "\f106";
}

#toggle-9 ~ #section-9 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-9 ~ .divider::after {
  content: "\f105";
}

#toggle-9:checked ~ #section-9 {
  display: -ms-grid;
  display: grid;
}

#toggle-9:checked ~ .divider::after {
  content: "\f106";
}

#toggle-10 ~ #section-10 {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#toggle-10 ~ .divider::after {
  content: "\f105";
}

#toggle-10:checked ~ #section-10 {
  display: -ms-grid;
  display: grid;
}

#toggle-10:checked ~ .divider::after {
  content: "\f106";
}

.divider {
  border-radius: 2px;
  padding: 0.4rem;
  margin: 0.4rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #e5df3e;
  color: #041f1f;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  height: 40px;
}

.divider div {
  padding: 0.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.divider::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding-right: 1.2rem;
}

.field {
  padding: 1.2rem 0;
}

nav {
  background: #117976;
  padding: 0.4rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul h2 {
  color: #fff !important;
}

nav ul li {
  margin: 0.4rem;
  padding: 1.2rem 1.8rem;
  border-radius: 2px;
}

nav ul li:hover {
  background: #14908b !important;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li.selected {
  background: #17a6a1;
  -webkit-box-shadow: 1px 1px 2px #117976;
          box-shadow: 1px 1px 2px #117976;
}

nav ul li.selected:hover {
  background: #17a6a1 !important;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.4rem;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
  padding: 0 8rem;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 1.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 1.2rem;
  }
}

.container .span-1 {
  grid-column: span 1;
}

@media only screen and (max-width: 768px) {
  .container .span-1 {
    grid-column: span 7;
  }
}

.container .span-row-1 {
  grid-row: span 1;
}

@media only screen and (max-width: 768px) {
  .container .span-row-1 {
    grid-column: span 7;
  }
}

.container .span-2 {
  grid-column: span 2;
}

@media only screen and (max-width: 768px) {
  .container .span-2 {
    grid-column: span 7;
  }
}

.container .span-row-2 {
  grid-row: span 2;
}

@media only screen and (max-width: 768px) {
  .container .span-row-2 {
    grid-column: span 7;
  }
}

.container .span-3 {
  grid-column: span 3;
}

@media only screen and (max-width: 768px) {
  .container .span-3 {
    grid-column: span 7;
  }
}

.container .span-row-3 {
  grid-row: span 3;
}

@media only screen and (max-width: 768px) {
  .container .span-row-3 {
    grid-column: span 7;
  }
}

.container .span-4 {
  grid-column: span 4;
}

@media only screen and (max-width: 768px) {
  .container .span-4 {
    grid-column: span 7;
  }
}

.container .span-row-4 {
  grid-row: span 4;
}

@media only screen and (max-width: 768px) {
  .container .span-row-4 {
    grid-column: span 7;
  }
}

.container .span-5 {
  grid-column: span 5;
}

@media only screen and (max-width: 768px) {
  .container .span-5 {
    grid-column: span 7;
  }
}

.container .span-row-5 {
  grid-row: span 5;
}

@media only screen and (max-width: 768px) {
  .container .span-row-5 {
    grid-column: span 7;
  }
}

.container .span-6 {
  grid-column: span 6;
}

@media only screen and (max-width: 768px) {
  .container .span-6 {
    grid-column: span 7;
  }
}

.container .span-row-6 {
  grid-row: span 6;
}

@media only screen and (max-width: 768px) {
  .container .span-row-6 {
    grid-column: span 7;
  }
}

.container .span-7 {
  grid-column: span 7;
}

@media only screen and (max-width: 768px) {
  .container .span-7 {
    grid-column: span 7;
  }
}

.container .span-row-7 {
  grid-row: span 7;
}

@media only screen and (max-width: 768px) {
  .container .span-row-7 {
    grid-column: span 7;
  }
}

.container .span-8 {
  grid-column: span 8;
}

@media only screen and (max-width: 768px) {
  .container .span-8 {
    grid-column: span 7;
  }
}

.container .span-row-8 {
  grid-row: span 8;
}

@media only screen and (max-width: 768px) {
  .container .span-row-8 {
    grid-column: span 7;
  }
}

.container .span-9 {
  grid-column: span 9;
}

@media only screen and (max-width: 768px) {
  .container .span-9 {
    grid-column: span 7;
  }
}

.container .span-row-9 {
  grid-row: span 9;
}

@media only screen and (max-width: 768px) {
  .container .span-row-9 {
    grid-column: span 7;
  }
}

.container .span-10 {
  grid-column: span 10;
}

@media only screen and (max-width: 768px) {
  .container .span-10 {
    grid-column: span 7;
  }
}

.container .span-row-10 {
  grid-row: span 10;
}

@media only screen and (max-width: 768px) {
  .container .span-row-10 {
    grid-column: span 7;
  }
}

.container .col-6-layout {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.4rem;
  grid-gap: 0.4rem;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column: span 7;
  padding: 0.4rem;
}

.container .col-6-layout div.img {
  padding: 1rem;
}

.container .center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header {
  margin: 0;
}

.container .activity {
  background-color: #a117a6;
  color: #fff;
}

.container .hotel {
  background-color: #14908b;
  color: #fff;
}

.container .flight {
  background-color: #0a4c4a;
  color: #fff;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hidden {
  display: none;
  visibility: hidden;
}

.date .list {
  border: 1px dashed #117976;
  padding: 1rem;
  background: #041b1a;
  min-height: 200px;
}

@media only screen and (max-width: 768px) {
  .date .list {
    min-height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .date .list h3 {
    padding: 0.4rem 0 !important;
  }
}

.date .list hr {
  border: 0.5px solid #0a4c4a;
}

@media only screen and (max-width: 768px) {
  .date .list hr {
    display: none;
  }
}

.date .list .event {
  border-radius: 2px;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.fade {
  opacity: 0.25;
}
/*# sourceMappingURL=styles.css.map */